.signinCon{
	min-height:80vh;
	padding: 5px;
	border: none;
	justify-content:center;
	align-items: center;
}

.h1Config{
	width:100%;
	font-size:3vw;
	margin: 5px auto;
}

#userAdminLogin{
	width:100%;
	justify-content:center;
}

#userAdminLogin button{
	width:49%;
	height:35px;
	margin:0;
	cursor:pointer;
}

#toggleUserBtn{
	border: 0;
	border-right:1px #009999 solid;
}

#toggleAdminBtn{
	border: 0;
	border-left: 1px #009999 solid;
}

#toggleAdminBtn:focus, #toggleUserBtn:focus{
	outline:none;
	border:1px solid #cc2900;
}

#adminLoginForm{
	display:none;
}

label, input[type="email"], input[type="password"]{
	width: 100%;
}

#loginForm{
	width:30%;
}

#forgetPwd a{
	font-size:14px;
}

/**Media query for small screen devices...**/
@media(max-width: 768px){
	#loginForm{
	width:70%;
}
}

/**Media query for small screen devices...**/
@media(max-width: 400px){
	#loginForm{
	width:90%;
	margin:auto;
}

.h1Config{
	width:100%;
	font-size:5vw;
	margin: 2px auto;
}
}